.go/
go/
bin
tmp
.DS_Store
.cover
test.log
bbmd.log
.venv
openspec/
build/npm/packages/

# Ignore agents configs for now
.cursor/
.kilocode/
.continue/
.gemini
.codex
.opencode

# Ignore some examples
quick-start/atlassian-accounts.json
.opencode/agents/implement-task.md
.opencode/agents/verify-task.md
.opencode/agents/fix-codebase.md
.opencode/agents/orchestrator.md
